* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.client-hidden {
  display: none;
}

.client {
  width: 100%;
  height: 100vh;
  background-image: url("/img/mainbackground.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -210px;
  padding-top: 14px;
}

.client__container {
  width: 62%;
  margin: auto;
}

.client__header {
  width: 100%;
}

.client__header__logo-and-login {
  width: 97%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.client__header__logo h1 {
  font-size: 34px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
}

.client__header__logo h1 > span {
  font-weight: 100;
  font-size: 34px;
}

.client__header__login__button {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background: #16a6af;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12),
    0px 3px 3px 0px rgba(0, 0, 0, 0.24);
}

.client__header__dates {
  width: 100%;
  display: flex;
  gap: 1px;
  justify-content: space-between;
  margin-top: 12px;
}

.client__header__data {
  width: calc(((100% - 24%) / 6) - 5px);
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 2px 0px rgba(0, 0, 0, 0.24);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  cursor: pointer;
}

.client__header__data__active {
  width: 24%;
  background: #fff;
  opacity: 1;
  scale: 1.04;
}

.client__header__data span {
  font-weight: 400;
  font-size: 14px;
}

.next-data {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding-left: 0;
}
